.image-container {
  display: flex;
  flex-wrap: wrap;
}
.image-container img {
  width: 30%;
  margin: 10px;
}

@media (max-width: 800px) {
  .image-container img {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .image-container img {
    width: 100%;
  }
}
